.jumbotron{
    background-color: white;
    width: 100%;
}
.btn-createform {
    background-color: #0000b3;
    color: white;
    padding:10px 35px;
    border: 0.5px solid #0000b3;
    border-radius: 18px;
  }
  .custom-form {
    display:inline-flex;
    margin-left:25px;
  }
.formgroup-btn{
    background-color: #0000b3;
    color: white;
    padding:10px 35px;
    border: 0.5px solid #0000b3;
    border-radius: 18px;
    margin-left:40px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.container{
    margin-left: 10px;
}